.header {
  display: flex;
  margin: 5rem;
  flex-direction: column;
}

.title {
  color: #bcb8b1;
  font-size: 5rem;
}

.name {
  color: #bcb8b1;
  font-size: 2rem;
}

.nick-name {
  color: #8a817c;
}

.description-div {
  max-width: 900px;
}

.description {
  color: #8a817c;
  font-size: 1.5rem;
}

.text-highlight {
  color: #bcb8b1;
  font-size: 1.3rem;
  font-weight: 500;
}

.contact-me {
  margin-top: 30px;
}

.social {
  color: #8a817c;
  text-decoration: none;
  font-weight: 500;
}

.social:hover {
  color: #ca9787;
  animation: ease-in 1s linear;
}
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");

* {
  font-family: "Maven Pro", sans-serif;
  overflow-x: hidden;
}

html {
  background-color: #463f3a;
}

.app {
  min-width: 695px;
}

.line {
  position: relative;
  top: 50%;
  width: 16em;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 180%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.anim-typewriter {
  animation: typewriter 4s steps(43) 1s 1 normal both,
    blinkTextCursor 700ms steps(43) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 17.5em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
